params {
    output = "results"

    // input data
    ion = "data/Iontorrent_Data/IonTorrent.fastq.gz"
    nanopore = "data/Nanopore_Data/Nanopore.fastq.gz"

    // QC options
    // threshold for trimming and filtering
    fastp_trim = 20
    fastp_filter = 20
    // mean read length
    fastp_len = 50
}

profiles {
    docker {
        docker.enabled = true
        process.executor = "local"

        process {
            withLabel: "fastqc" {
                container = "quay.io/biocontainers/fastqc:0.11.9--hdfd78af_1"
                cpus = 4
            }
            withLabel: "fastp" {
                container = "quay.io/biocontainers/fastp:0.22.0--h2e03b76_0"
                cpus = 6
            }
            withLabel: "quast" {
                container = "quay.io/biocontainers/quast:5.0.2--py36pl5262h30a8e3e_4"
                cpus = 4
            }
            withLabel: "multiqc" {
                container = "quay.io/biocontainers/multiqc:1.11--pyhdfd78af_0"
                cpus = 1
            }
            withLabel: "spades" {
                container = "quay.io/biocontainers/spades:3.15.3--h95f258a_0"
                cpus = 6
                memory = 6.GB
            }
            withLabel: "mmseqs2" {
                container = "quay.io/biocontainers/mmseqs2:13.45111--h95f258a_1"
                cpus = 6
                memory = 6.GB
            }
            withLabel: "biopython" {
                container = "hadrieng/biopython:1.78"
            }
            withLabel: "prodigal" {
                container = "quay.io/biocontainers/prodigal:2.6.3--h779adbc_3"
                cpus = 1
            }
            withLabel: "cd_hit" {
                container = "quay.io/biocontainers/cd-hit:4.8.1--h2e03b76_5"
                cpus = 6
            }
            withLabel: "mafft" {
                container = "quay.io/biocontainers/mafft:7.487--h779adbc_0"
                cpus = 1
            }
            withLabel: "fasttree" {
                container = "quay.io/biocontainers/fasttree:2.1.8--h779adbc_6"
                cpus = 1
            }
            withLabel: "abricate" {
                container = "quay.io/biocontainers/abricate:1.0.1--ha8f3691_1"
                cpus = 1
            }
            withLabel: "platon" {
                container = "quay.io/biocontainers/platon:1.6--pyhdfd78af_1"
                cpus = 6
            }
            withLabel: "mlst_check" {
                container = "sangerpathogens/mlst_check"
                cpus = 6
            }
        }
    }
}