params {
    ion = "data/Iontorrent_Data/IonTorrent.fastq.gz"
    nanopore = "data/Nanopore_Data/Nanopore.fastq.gz"
}

profiles {
    docker {
        docker.enabled = true
        process.executor = "local"

        process {
            withLabel: "fastqc" {
                container = "quay.io/biocontainers/fastqc:0.11.9--hdfd78af_1"
                cpus = 4
                time = "1h"
            }
        }
    }
}