params {
    ion = "data/Iontorrent_Data/IonTorrent.fastq.gz"
    nanopore = "data/Nanopore_Data/Nanopore.fastq.gz"
}

profiles {
    docker {
        docker.enabled = true
        process.executor = "local"

        process {
            withLabel: "fastqc" {
                container = "quay.io/biocontainers/fastqc:0.11.9--hdfd78af_1"
            }
        }
    }

    ci {
        process {
            // limit resources to be able to run on github actions
            cpus = 2
            memory = 6.GB
        }
    }

    local {
        process {
            cpus = 4
        }
    }
}